---
title: Willkommen auf der Webseite von Rechtsanwalt Christian Huxhold
tags: Rechtsanwalt, Christian, Huxhold, Anwalt, K&ouml;ln, Cologne, Kalk, Zivilrecht, Vertragsrecht, Mietrecht, Versicherungsrecht, Verkehrsrecht, Ordnungswidrigkeiten, Arbeitsrecht, Urheberrecht, Medienrecht, Musikrecht
---

<%= partial "navigation" %>

<%= partial "header" %>

    <!-- Page Content -->

    <div class="content-section-a" id="kanzlei">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Christian Huxhold</h2>
                    <p class="lead">
                        <ul class="lead">
                            <li>Studium an der Philipps-Universit&auml;t Marburg</li>
                            <li>Referendariat beim Landgericht Aachen
                            <li>Stationen beim Deutschen Bundestag in Berlin, bei der Sony Music Entertainment GmbH in M&uuml;nchen und der Kanzlei Schmitz &amp; Lehnen in Aachen</li>
                            <li>Zulassung als Rechtsanwalt bei der Rechtsanwaltskammer K&ouml;ln im Sommer 2014</li>
                            <li>T&auml;tigkeit als Justiziar bei der Firma Cargo Records GmbH in Wuppertal</li>
                            <li>Mitglied im Deutschen AnwaltVerein sowie im K&ouml;lner AnwaltVerein</li>
                            <img class="img-responsive logo" src="img/dav_mitgl_sw.png" alt="Mitglied im Deutschen AnwaltVerein (Logo)">
                        </ul>
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ChristianHuxhold_sw.jpg" alt="Christian Huxhold">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b" id="schwerpunkte">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Schwerpunkte</h2>
                    <p class="lead">Rechtsanwalt Huxhold vertritt Sie gerichtlich und au&szlig;ergerichtlich in den Bereichen:
                        <ul class="lead">
                        <li>Zivilrecht (Vertrags-, Miet- und Versicherungsrecht)</li>
                        <li>Verkehrsrecht, Ordnungswidrigkeiten</li>
                        <li>Arbeitsrecht</li>
                        <li>Urheber- und Medienrecht</li>
                        <li>Musikrecht</li>
                    </ul>
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/gesetze_sw.png" alt="Gesetzesbuecher">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a" id="kontakt">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Kontakt</h2>
                    <p class="lead">
                        <address class="lead">
                        Rechtsanwalt Christian Huxhold<br>
                        Markt 6<br>
                        51103 K&ouml;ln<br>
                        <i class="fa fa-phone"></i>&nbsp; &nbsp;0221 / 96 23 14 65<br>
                        <i class="fa fa-fax"></i>&nbsp; 03222 / 40 83 690<br>
                        <i class="fa fa-envelope"></i>&nbsp; <%= mail_to("info@ra-huxhold.de") %>
                    </address>
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <!-- <img class="img-responsive" src="img/phones.png" alt=""> -->
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Social Media</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://www.xing.com/profile/Christian_Huxhold" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-xing fa-fw"></i> <span class="network-name">Xing</span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/profile/view?id=342561371&trk=nav_responsive_tab_profile" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <%= partial "footer-menu" %>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>